<footer class="footer">
  &copy; <%= new Date().getFullYear(); %> David Fox • Built with NodeJs, Express, & MongoDB

  <!-- Social Icons -->
  <div class="contact-info-upper-container">
    <!-- Portfolio Icon Container -->
    <div class="contact-info-container">
      <a href="https://davidfoxdev.co.uk" target="_blank" class="icon-container portfolio-contact-icon" title="Portfolio">
        <i class="fa fa-user icon contact-icon portfolio-icon"></i> <!-- or fa-globe -->
      </a>
    </div>

    <!-- LinkedIn Icon Container -->
    <div class="contact-info-container">
      <a href="https://www.linkedin.com/in/davidfoxtechcode/" target="_blank" class="icon-container linkedin-contact-icon" title="LinkedIn">
        <i class="fab fa-linkedin icon contact-icon linkedin-icon"></i>
      </a>
    </div>

    <!-- GitHub Icon Container -->
    <div class="contact-info-container">
      <a href="https://github.com/maesterfox" target="_blank" class="icon-container github-contact-icon" title="GitHub">
        <i class="fab fa-github icon contact-icon github-icon"></i>
      </a>
    </div>

    <!-- Stack Overflow Icon Container -->
    <div class="contact-info-container">
      <a href="https://stackoverflow.com/users/22631288/david-fox" target="_blank" class="icon-container stack-overflow-contact-icon" title="Stack Overflow">
        <i class="fab fa-stack-overflow icon contact-icon stack-overflow-icon"></i>
      </a>
    </div>
  </div>
</footer>
