<section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About Me</h2>
        <p>Discover the Developer Behind NodeBlog</p>
      </div>
  
      <div class="about-content">
        <h3>Professional Background</h3>
        <p>
          As a recently graduated Full-stack Developer, I specialize in HTML, CSS, JavaScript, and React, with a focus on the MERN stack. My unique experiences across different industries, including time as a personal trainer, have instilled a strong ethos of discipline and a deep understanding of the importance of mental and physical well-being.
        </p>
        <p>
          I am continually learning and refining my skills, regularly adding projects to my portfolio. My approach to development is centered around creating efficient, scalable, and secure web applications, with a particular passion for user-centric design and functionality.
        </p>
  
        <h3>About NodeBlog</h3>
        <p>
          NodeBlog is a testament to my journey in web development, showcasing a fully functional blogging platform built using Node.js, Express, and MongoDB. This project focuses on delivering a seamless experience for both blog creators and readers, featuring user authentication, a dedicated admin panel, and responsive design for optimal user experience across devices.
        </p>
        <p>
          The platform allows for CRUD operations, efficient navigation through pagination, and a search functionality to enhance user interaction. With its intuitive and elegant UI, NodeBlog serves as a medium for me to connect with the audience and share my insights and experiences in the tech world.
        </p>
      </div>
    </div>
  </section>
  